{% extends 'base.html' %}

{% block title %} Lista Santiere Filtru {% endblock %}

{% block content %}
    <div class="container-fluid">
    <br>
        <form method = "GET" class="row g-2", style="background-color: #CBD0D8">
        <div class="text-center">
            <h6>Filter Pane</h6>
        </div>
            {% for item in filters_form %}
            <div class="col-sm-1 col-form-label text-center">
                {{ item.label }}
            </div>
            <div class="col-md-1">
                {{ item }}
            </div>
            {% endfor %}
        <br>
        <div class="card-footer text-center">
            <button type="submit" value="submit" class="btn btn-outline-success btn-sm" style="width: 120px">Cauta</button>
            <a href="{% url 'lista_santiere_filtru' %}" class='btn btn-outline-danger btn-sm'>Reset</a>
        </div>

        </form>


        </hr>

        <div class="row">
            <div class="col-md-12">
                <br>
                {% if all_santiere %}
                    <table class="table table-info table-striped table-bordered">
                        <thead class="table-primary">
                        <tr>
                            <th>Data</th>
                            <th>Tip Santier</th>
                            <th>Localitate</th>
                            <th>Strada</th>
                            <th>Numar</th>
                            <th>Tip lucrari</th>
                            <th>Constructor</th>
                            <th>Cod Proiect</th>
                            <th class="table-succes">Diriginte</th>
                            <th>Nr aparitie</th>
                            <th>Status</th>
                            <th>Poze</th>
                            <th>Docs</th>
                            <th>Observatie</th>
                            <th>Vizita</th>
                            <th>Nota</th>
                            <th>Detalii</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for santier in all_santiere %}
                            <tr>
                                <td style="font-size: 75% ">{{ santier.data|date:'d-m-Y' }}</td>
                                <td>{{ santier.tip_santier }}</td>
                                <td>{{ santier.localitate }}</td>
                                <td>{{ santier.strada }}</td>
                                <td>{{ santier.numar }}</td>
                                <td>{{ santier.tip_lucrari }}</td>
                                <td>{{ santier.constructor }}</td>
                                <td style="font-size: 80% ">{{ santier.SDA }}</td>
                                <td style="font-weight: bolder">
                                    {% if santier.diriginte %}
                                        {{ santier.diriginte }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td>{{ santier.numar_aparitie }}</td>
                                <td style="font-weight: bolder; color: darkred">
                                    {% if santier.status %}
                                        {{ santier.status }}
                                    {% else %}
                                        __
                                    {% endif %}
                                </td>
                                <td>
                                    {% if santier.poza1 or santier.poza2 or santier.poza3 %}
                                        DA
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td>
                                    {% if santier.document %}
                                        DA
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td>
                                    {% if santier.observatie %}
                                        Are obs.
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td>
                                    {{ santier.are_vizita }}
                                </td>
                                <td>
                                    {% if santier.nota %}
                                        {{ santier.nota }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-secondary btn-sm"
                                       href="#">
                                        Vezi
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div>
                        <msg>Niciun Santier</msg>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>

{% endblock %}