{% extends 'base.html' %}

{% block title %} Actualizeaza situatie santier {% endblock %}

{% block content %}
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header" style=" color: #29608a ">
                        <h3 class="text-center"> Actualizeaza situatie santier </h3>
                    </div>
                    <div style="background-color: #d5e8ed;">
                        <ul>
                            <li>Data        :<a class="date_santier"> {{ santier.data|date:'d-M-Y' }}</a></li>
                            <li>Tip Lucrare :<a class="date_santier"> {{ santier.tip_santier }}</a></li>
                            <li>Adresa      :<a class="date_santier"> {{ santier.localitate }} - {{ santier.strada }} {{ santier.numar }}</a></li>
                            <li>Constructor :<a class="date_santier"> {{ santier.constructor}}</a></li>
                        </ul>
                    </div>
                    <form method="post">
                        {% csrf_token %} {# csrf- cross site request forgery #}
                        <div class="card-body" style="background-color: #d5e8ed;">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Update</button>
                            <a href="{% url 'ls_diriginte' %}" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}